
@{
    ViewData["Title"] = "OrderItems";
}

<h3>Order Items</h3>
<a class="btn btn-outline-primary btn-sm" asp-controller="Order" asp-action="Index">Back</a>
<br />
<br />

<label>Customer Name: </label>
<div class="customer-select">
    <select class="form-control form-group-sm" id="customerId" asp-items="@ViewBag.CustomerList">
        <option value="0">-- Please choose a customer --</option>
    </select>
</div>
<br />
<div>
    <table class="table" id="tableForm">
        <tr class="nestable-dark-theme">
            <th>Product Name</th>
            <th colspan="2">Description</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Controls</th>
        </tr>
        <tr>
            <td>
                <select class="form-control form-group-sm" id="productId" onchange="LoadProducts(this.value)" asp-items="@ViewBag.ProductList">
                    <option value="0">-- Please choose a product --</option>
                </select>
            </td>
            <td colspan="2">
                <p id="description">---------------</p>
            </td>
            <td>
                <p id="unitprice">Rs: 0</p>
            </td>
            <td class="small-width">
                <input type="number" disabled class="form-control form-group-sm" id="quantity" min="0" placeholder="Eg: 2" onchange="CalculateTotal(this.value)" />
                <span id="hiddenQuantity" class="badge badge-secondary small" hidden>Quantity In Stock: <span id="quantityInStock">0</span></span>
            </td>
            <td>
                <p id="totalamount">Rs: 0</p>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="CreateOrderLine()" id="addItem">Add Item</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Grand Total</td>
            <td>
                <p id="grandtotal">Rs: 0</p>
            </td>
            <td>
                <button class="btn btn-primary btn-sm" id="confirmOrder" data-toggle="modal" data-target="#confirmationBox">Confirm Order</button>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="confirmationBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Order Placement Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to place order?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="ConfirmOrder()">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/view-resources/Views/Order/add-order-items.js"></script>
<script src="~/view-resources/Views/Order/load-product.js"></script>